{% extends "base.html" %}

{% block title %}Shift Preferences{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Enter Shift Preferences</h1>
    <form method="post" id="preferencesForm">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.min_shifts.label(class="form-label") }}
            {{ form.min_shifts(class="form-control", id="min_shifts") }}
        </div>
        <div class="form-group">
            {{ form.max_shifts.label(class="form-label") }}
            {{ form.max_shifts(class="form-control", id="max_shifts") }}
        </div>
        <div class="form-group">
            {{ form.month.label(class="form-label") }}
            {{ form.month(class="form-control", id="monthSelect", onchange="loadPreferences()") }}
        </div>
        <div class="form-group">
            {{ form.year.label(class="form-label") }}
            {{ form.year(class="form-control", id="yearSelect", onchange="loadPreferences()") }}
        </div>
        <input type="hidden" id="selectedDates" name="selected_days">
        <button type="submit" class="btn btn-primary" name="save">Save Preferences</button>
        
    </form>
    <div id="calendar"></div>
</div>

<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css' rel='stylesheet' />
<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css' rel='stylesheet' />
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var selectedDates = [];

    var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ['interaction', 'dayGrid'],
        selectable: true,
        initialView: 'dayGridMonth',
        dateClick: function(info) {
            var date = info.dateStr;
            if (selectedDates.includes(date)) {
                selectedDates = selectedDates.filter(d => d !== date); // Remove date
                info.dayEl.style.backgroundColor = ''; // Remove selection style
            } else {
                selectedDates.push(date);
                info.dayEl.style.backgroundColor = '#ff9f89'; // Add selection style
            }
            document.getElementById('selectedDates').value = selectedDates.join(','); // Update hidden input
        }
    });

    calendar.render();
    loadPreferences();

    $('#preferencesForm').submit(function(e) {
        e.preventDefault();
        updatePreferences();
    });

    function loadPreferences() {
        var year = $('#yearSelect').val();
        var month = $('#monthSelect').val();
        var current_user = '{{ current_user.username }}'

        $.ajax({
            url: "{{ url_for('fetch_user_schedule') }}",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ user: current_user, year: year, month: month }),
            success: function(data) {
                $('#minShifts').val(data.min_shifts);
                $('#maxShifts').val(data.max_shifts);
                calendar.removeAllEvents();
                data.dates.forEach(function(date) {
                    calendar.addEvent({
                        title: 'Selected',
                        start: date,
                        allDay: true,
                        backgroundColor: '#ff9f89',  // Color for selected days
                        borderColor: '#ff9f89'
                    });
                });
                $('#selectedDates').val(data.dates.join(','));
            },
            error: function(xhr) {
                alert('Failed to load preferences: ' + xhr.statusText);
            }
        });
    }

    function updatePreferences() {
        var year = $('#yearSelect').val();
        var month = $('#monthSelect').val();
        var minShifts = $('#min_shifts').val();
        var maxShifts = $('#max_shifts').val();
        var dates = $('#selectedDates').val().split(',');
        console.log("dates: ", dates);
        $.ajax({
            url: "{{ url_for('update_preferences') }}",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ dates: dates, year: year, month: month, minShifts: minShifts, maxShifts: maxShifts, dates: dates }),
            success: function(response) {
                alert('Preferences successfully updated!');
            },
            error: function(xhr) {
                alert('Error updating preferences: ' + xhr.statusText);
            }
        });
    }
});
</script>
{% endblock %}
