{% extends "base.html" %}

{% block title %}Shift Preferences{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Enter Shift Preferences</h1>
    <form method="post" id="preferencesForm">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.min_shifts.label(class="form-label") }}
            {{ form.min_shifts(class="form-control", id="min_shifts") }}
        </div>
        <div class="form-group">
            {{ form.max_shifts.label(class="form-label") }}
            {{ form.max_shifts(class="form-control", id="max_shifts") }}
        </div>
        <div class="form-group">
            {{ form.month.label(class="form-label") }}
            {{ form.month(class="form-control", id="monthSelect", onchange="loadPreferences()") }}
        </div>
        <div class="form-group">
            {{ form.year.label(class="form-label") }}
            {{ form.year(class="form-control", id="yearSelect", onchange="loadPreferences()") }}
        </div>
        <input type="hidden" id="selectedDates" name="selected_days">
        <button type="submit" class="btn btn-primary" name="save">Save Preferences</button>

    </form>
    <div id="calendar"></div>
</div>

<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css' rel='stylesheet' />
<link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css' rel='stylesheet' />
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var selectedDates = [];

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid'],
            selectable: true,
            selectMirror: true,
            unselectAuto: false,
            select: function (info) {
                var startDate = info.startStr;
                var alreadySelected = selectedDates.includes(startDate);
                var newSelectionCount = alreadySelected ? selectedDates.length - 1 : selectedDates.length + 1;

                if (alreadySelected) {
                    selectedDates = selectedDates.filter(date => date !== startDate);
                    info.view.calendar.getEventById(startDate)?.remove();
                } else {
                    selectedDates.push(startDate);
                    info.view.calendar.addEvent({
                        id: startDate,
                        start: startDate,
                        allDay: true,
                        rendering: 'background',
                        backgroundColor: '#ff9f89'
                    });
                }
                document.getElementById('selectedDates').value = selectedDates.join(',');
            },
            initialView: 'dayGridMonth',
        });

        function loadPreferences() {
            var year = $('#yearSelect').val();
            var month = $('#monthSelect').val();
            var current_user = '{{ current_user.username }}'

            $.ajax({
                url: "{{ url_for('fetch_user_schedule') }}",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ user: current_user, year: year, month: month }),
                success: function (data) {
                    //$('#minShifts').val(data.min_shifts);
                    //$('#maxShifts').val(data.max_shifts);
                    calendar.removeAllEvents();
                    data.dates.forEach(function (date) {
                        calendar.addEvent({
                            title: 'Selected',
                            start: date,
                            allDay: true,
                            backgroundColor: '#ff9f89',  // Color for selected days
                            borderColor: '#ff9f89'
                        });
                    });
                    $('#selectedDates').val(data.dates.join(','));
                },
                error: function () {
                    alert('Failed to load preferences.');
                }
            });
        }


        calendar.render();
        $('#yearSelect, #monthSelect').change(function (e) {
            e.preventDefault();
            loadPreferences();
        });

        $('#preferencesForm').submit(function (e) {
            e.preventDefault();
            updatePreferences();
        });

        function updatePreferences() {
            var year = $('#yearSelect').val();
            var month = $('#monthSelect').val();
            var minShifts = $('#min_shifts').val();
            var maxShifts = $('#max_shifts').val();
            var dates = selectedDates;

            $.ajax({
                url: "{{ url_for('update_preferences') }}",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ year: year, month: month, minShifts: minShifts, maxShifts: maxShifts, dates: dates }),
                success: function (response) {
                    alert('Preferences successfully updated!');
                    calendar.refetchEvents();  // Refresh the calendar events to reflect the new selection
                },
                error: function (xhr) {
                    alert('Error updating preferences: ' + xhr.statusText);
                }
            });
        }
    });
</script>
{% endblock %}